@charset "EUC-KR";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
html { 
	box-sizing: border-box; 
	height:100%
	}
body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
}
h1 { text-align:center; margin-top:30px;}

nav { background: #2ba0db; }

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 15px 20px;
  transition: 0.3s linear;
  text-decoration:none;
}

nav ul li:hover { background: #126d9b; }

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }

nav .fa.fa-angle-down { margin-left: 6px; }

table{
	width:100%;
}
table, th, td{
	border-collapse: collapse;
	border: 1px solid #A2A2A2;
	padding: 5;
	font-size: 9pt;
	font-family:"Roboto", sans-serif;
}